.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  background: #7c2604;
  margin: 10px;
  border: 5px solid #311d03;
  padding: 0 20px 5px;
}

.fighter-preview___info h1 {
  font-size: inherit;
  color: rgb(247, 242, 236);
  text-align: center;
}

.fighter-preview___info p {
  color: rgb(247, 234, 214);
  margin: 0;
  padding: 0;
}